
   
   
@model Noticias
    @{
        ViewData["Title"] = "Noticias";
    }

   <form method="POST" action='@Url.Action("Adicionar")' enctype="multipart/form-data" >
    <label>ID</label>
    <input type="text" name="IdNoticia" id="IDNoticia" />

    <label>Titulo</label>
    <input type="text" name="Nome" id="Nome" />

    <label>Texto</label>
    <input type="text" name="Texto" id="Texto" />

     <label>Imagem</label>
    <input type="file" name="Imagem" id="Imagem" />

    <button type="submit">Adicionar</button>
</form>


<table class="table table-responsive table-striped">
    <thead>
        <th>Id</th>
        <th>Titulo</th>
        <th>Texto</th>
        <th>Imagem</th>
    </thead>
    <tbody>
        @foreach (var n in ViewBag.Noticias)
        {
            <tr>
                <td>@n.IdNoticia</td>
                <td>@n.Titulo</td>
                <td>@n.Texto</td>
                <td>
                    <img src="img/Noticia/@n.Imagem" alt="imagem da noticia @n.Titulo">
                </td>
                <td>
                     <a asp-area="" asp-controller= "Noticia" asp-action="Excluir" asp-route-id= "@n.IdNoticia">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>